@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar::-webkit-scrollbar {
        height: 2px;
        width: 8px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #9b9b9b;
    }
}